.avatar{
    background-color: var(--primary_third);
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar span{
    color: var(--fg);
    font-weight: 500;
    font-size: 22px;
}
