.post_card {
    max-width: 640px;
    min-height: 142px;
    background-color: var(--fg);
    border-radius: 8px;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post_card__divider {
    position: relative;
    width: 15px;
    height: 15px;
}

.post_card__author {
    margin-right: 16px;
    font-weight: 500;
    color: var(--primary_first);
}

.post_card__author:hover {
    color: var(--primary_third);
}

.post_card__divider:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    width: 1px;
    background-color: var(--primary_second);
}

.post_card__subheader {
    display: flex;
    align-items: center;
}

.post_card__title {
    display: flex;
    margin-bottom: 8px;
}

.post_card__subtitle {
    display: flex;

}

.post_card__content {
    position: relative;
    margin: 12px 0;
    display: flex;
    flex-direction: column;
}

.post_card__subtitle p {
    flex: 0 1 80%;
    font-weight: 400;
}

.post_card__title span {
    flex: 0 1 80%;
    font-weight: 500;
}

.post_card__actions {
    display: flex;
}

.post_card__controls {
    display: flex;
}

.post_card__controls li a {
    display: flex;
    height: 100%;
    color: var(--primary_second);
}

.post_card li a:hover > *{
    color: var(--primary_third);
}

.post_card__controls li span {
    margin-left: 4px;
}

.post_card__icon {

}

.post_card__image {
    margin-top: 16px;
    margin-bottom: 4px;
    position: relative;
    width: calc(100% + 40px);
    height: 385px;
}

.post_card__image img {
    position: absolute;
    top: 0;
    left: -20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

svg.post_card__icon {
    color: var(--primary_second)
}

.post_card__category{
    margin-right: 16px;
}

.post_card__category a{
    display: flex;
    align-items: center;
    color: var(--cl_black);
}

.post_card__category a img{
    border-radius: 4px;
}

.post_card__category a span{
    margin-left: 8px;
    font-weight: 500;
    color: var(--primary_first);
}
